body {
  font-family: "Space Mono", monospace;
  min-width: 320px;
  margin: auto 50px;
  h1 {
    font-weight: normal;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .nav-container {
    position: relative;
    font-size: 64px;
    #home-link-canvas {
      position: absolute;
      z-index: -1;
    }
  }
  // .collapse-margins-large {
  //   margin-left: 50px;
  //   margin-right: 50px;
  // }
  .about-text {
    font-size: 64px;
  }
  div.masonry {
    display: flex;
    gap: 28px;
    div {
      flex: 1 1 0;
    }
    .gallery-image {
      margin-bottom: 28px;
      float: left;
      width: 100%;
    }
  }
  .content {
    // margin: 0 auto;
    max-width: 100%;
  }
  
  .carousel {
    width: 80vw;
    max-width: 800px;
    margin: auto;

    .c-image {
      height: 60vw;
      max-height: 600px;
      margin: auto;
      display: block;
    }

    .carousel-switcher {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;

      .arrows {
        display: flex;
        gap: 20px
      }
    }
  }
}


@media screen and (min-width: 1400px) {
  .content {
    max-width: 1300px;
  }

  .collapse-margins-large {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 2000px) {
  .content {
    max-width: 1900px;
  }
}
