@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply my-3;
  }
  h2 {
    @apply text-2xl;
    @apply my-3;
  }
  h2 {
    @apply text-xl;
    @apply my-3;
  }
  p a {
    @apply text-blue-500;
  }
  p {
    @apply text-sm;
    @apply my-3;
  }
}

@layer components {
}

body {
  font-family: "Roboto Mono", monospace;
  min-width: 320px;
}

div.masonry {
  gap: 28px;
}

div.masonry > div {
  flex: 1 1 0;
}

.c-image {
  height: 67vw;
  max-height: 600px;
}
