@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
    @apply my-3;
  }
  h2 {
    @apply text-2xl;
    @apply my-3;
  }
  h2 {
    @apply text-xl;
    @apply my-3;
  }
  p a {
    @apply text-blue-500;
  }
  p {
    @apply text-sm;
    @apply my-3;
  }
}

body {
  font-family: 'Roboto Mono', monospace;
  min-width: 320px;
}

.masonry { /* Masonry container */
  column-gap: 2rem;
}

@media only screen and (max-width: 640px) {
  .masonry {
    column-count: 1;
  }
}

@media only screen and (min-width: 600px) {
  .masonry {
    column-count: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}

.c-image {
  height: 67vw;
  max-height: 600px;
}